@import '~/assets/styling/variables.sass'
@import '~/assets/styling/typography.sass'
@import '~/assets/styling/transitions.sass'

body
  height: 100%

*
  box-sizing: border-box

img
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


.landing
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: inline-flex
  padding: $spacing
  .logo
    width: calc((6vmin * 3) + (.5vmin * 3))
    li
      width: 6vmin
      height: 6vmin
      margin-right: .5vmin
      margin-bottom: .5vmin

.home
  width: 100%
  height: calc(100vh - (2 * #{$spacing}))
  cursor: url("~/assets/images/enter.png") 0 0, pointer
  cursor: url("~/assets/images/enter.svg") 0 0, pointer
  cursor: -webkit-image-set(url("~/assets/images/enter.png") 1x, url("~/assets/images/enter@2x.png") 2x) 0 0, pointer
  .logo
    cursor: url("~/assets/images/enter.png") 0 0, pointer
    cursor: url("~/assets/images/enter.svg") 0 0, pointer
    cursor: -webkit-image-set(url("~/assets/images/enter.png") 1x, url("~/assets/images/enter@2x.png") 2x) 0 0, pointer
  img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: 50% 50%

.productsItem
  float: right
  ul
    max-width: 400px
  li
    margin-bottom: calc(#{$spacing * 4})
    display: inline-block // Assures the FLIP animation script (fade-in-ou for li elements)
  li:last-child
    margin-bottom: $spacing
  .product-TitleDate
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    margin-bottom: $spacing
    > div:first-child
      flex-grow: 1
    > div:last-child
      margin-left: $spacing
      flex-shrink: 0
  img
    width: 100%
    height: auto
    margin-bottom: $spacing
  h2, p
    display: inline

.productsItem
  li
    cursor: pointer

.productItem, .profileItem
  ul
    width: 100%
  li
    display: flex
    flex-direction: column
    align-items: flex-end
    margin-bottom: $spacing
    .product-TitleDate
      display: flex
      flex-wrap: nowrap
      justify-content: space-between
      margin-bottom: $spacing
      max-width: 400px
      width: 100%
      > div:first-child
        flex-grow: 1
      > div:last-child
        margin-left: $spacing
        flex-shrink: 0
    .productItem-Text
      margin-bottom: $spacing
  li:last-child
  .product-Image
    max-width: 400px
    max-height: calc(100vmin - (2 * #{$spacing}))
    margin-bottom: $spacing
    transition: max-width .22s ease-out
    will-change: max-width
    transform: translateZ(0)
    &:last-child
      margin-bottom: 0
    img
      width: auto
      height: auto
      max-width: 100%
      max-height: calc(100vmin - (2 * #{$spacing}))
      cursor: url(~/assets/images/open-icon.svg), zoom-in
  .product-Image.active
    max-width: 100%
    img
      cursor: zoom-out
  .product-Footer
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 400px
    img
      width: 24px
      height: 13px
      display: inline
    &_Prev, &_Next
      p
        margin-left: 6px
        margin-right: 6px
      cursor: pointer
      &:hover p
        text-decoration: underline
    &_Next img
      transform: rotate(180deg)
  h2, p
    display: inline
    max-width: 400px

// TIJDELIJK
#show-modal
  padding-top: 200px
  z-index: 100

// MODAL
.modal
  &-Container
    position: fixed
    z-index: 990
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: hsla(0, 50%, 100%, 1)
  &-CloseBackground
    position: absolute
    width: 100%
    height: 100%
    padding: $spacing
    cursor: url(~/assets/images/close-icon.svg), zoom-out
  &-Close
    position: fixed
    z-index: 999
    top: 0
    left: 0
    padding: $spacing
    cursor: pointer
    img
      width: 18px
      height: 18px
  &-Content
    height: 100%
    width: 100%

// SLIDER
.slider-Container
  position: relative
  z-index: 995
  // width: 100%
  height: 100%
.image-Slider
  position: absolute
  top: 0
  left: 0
  // width: 100%
  height: 100%
  img
    width: 100%
    height: 100%
    object-fit: contain
    object-position: center center

.image-Slider_Nav
  position: absolute
  width: 33%
  top: 0
  bottom: 0
  cursor: pointer
.image-Slider_Prev
  left: 0
  cursor: url(~/assets/images/prev-icon.svg), w-resize
.image-Slider_Close
  left: 50%
  transform: translateX(-50%)
    // cursor: url("cursor.png") 0 0, pointer
    // cursor: url("cursor.svg") 0 0, pointer
    // cursor: -webkit-image-set(url("cursor.png") 1x, url("~/assets/images/close.png") 2x) 0 0, pointer
  cursor: url(~/assets/images/close-icon.svg), zoom-out
.image-Slider_Next
  right: 0
  cursor: url(~/assets/images/next-icon.svg), e-resize
