.page-Container
  ul
    display: flex
    flex-direction: column
    li
      padding: 3vmin
      cursor: pointer
      h1, p
        margin-bottom: 1vmin
      p:last-child
        margin-bottom: 0
