@font-face
  font-family: 'Moderat-Regular'
  src: url('~assets/fonts/Moderat-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Moderat-Bold'
  src: url('~assets/fonts/Moderat-Bold.woff2') format('woff2')
  font-weight: normal
  font-style: normal

h1, h2, h3, p, a, a:link, a:visited, a:hover, a:active
  font-size: 16px
  line-height: 1.3em
  color:  black
  font-family: "Moderat-Regular", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  // letter-spacing: 0.01em

a, a:link, a:visited
  text-decoration: none

a:hover, a:active
  text-decoration: underline

em, strong
  font-family: "Moderat-Bold", Helvetica, Arial, sans-serif
